*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
background-color: rgb(243, 237, 229);
}

.section-1{
    margin: 0 228px;
}

/* *********Top Nav Bar***********/

.nav-container{
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.page-tittle{
    font-size: 40px;
    font-weight: 700;
}
nav ul{
    display: flex;
}
nav ul li{
    padding: 0 32px;
    font-size: 18px;
    font-weight: 500;
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: black;
}

.Head-title{
    width: 100%;
    top: 50%;
    position: absolute;
    text-align: center;
}

.head-set{
    font-size: 30px;
    padding-top: 60px;
    text-align: center;

}

.p-1{
    text-align: center;
    padding-top: 25px;
}

button{
    background-color: rgb(246, 164, 11);
    padding: 15px 22px;
    font-weight: bold;
    border: none;
    color: white;
    margin-top:30px ;
    margin-left: 42%;
}
button:hover{
    background-color: black;
}

.image img{
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    bottom: 25px;
    padding-top: 30px;
}

.image-info{
    display: flex;
    margin: 0 60px;
    margin-top: 100px;
    gap: 75px;
    align-items: center;
}
.images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 24px;
    column-gap: 24px;
}
.images img{
    width: 230px;
    height: 230px;
}
.grid-tittle{
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 24px;
}
.grid-details{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    width: 500px;
}

.button-two{
    text-decoration: none;
    display: inline-block;
    background-color: rgb(246, 165, 10);
    padding: 10px;
    border-radius: 8px;
    margin-right: 20px;
    height: 50%;
    width: 30%;
    text-align: center;
    font-size: 20px;
    margin-top: 18px;
}
.button-two a {
    color: aliceblue;
}
.button-two:hover{
    background-color: black;
}

.header-2{
    font-size: 40px;
    font-weight: bold;
    display: flex;
    gap: 10px;
}

.long-dot{
    height: 106px;
    width: 7px;
    background-color: #FF900E;
}
.division{
    width: 500px;
    height: 75px;
    background-color: white;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid gainsboro;
   
    
}
.division p{
    color: rgb(71, 68, 68);
}
.write{
  
    width: 74%;
    display: flex;
    position: relative;
    margin: auto;
    gap: 30px;
}

.writing img{
    width: 400px;
    height: 550px;
    margin-top: 40px;

}
.btn-optional{
    width: 200px;
    height: 130px;
    border-radius: 5px;
    background-color: orange;
    color: white;
    margin-left: 90px;
}
.btn-optional h3{
    font-weight: 500;
    font-size: 40px;
    
}
.btn-optional p{
    font-weight: 500;
    font-size: 25px;
}

.section-4{
    padding: 50px;
}
.facts-part{
    display: flex;
    flex-direction: column;
    justify-content: left;
    row-gap: 20px;
}
.facts-part > h3{
    font-weight: 700;
    font-size: 45px;
}

.box-part{
    display: flex;
    justify-content: space-evenly;
    column-gap: 12px;
}

.facts-set{
    border: 1px solid black;
    height: 145px;
    width: 145px;
    row-gap: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    transition: transform 1s;
}
.facts-set:hover{
    background-color: orange;
    color: white;
    transform: scale(1.15,1.15);
}

.facts-set h3{
    font-weight: 600;
    font-size: 45px;
}


.sponsor-container{
    margin-right: 1%;
    text-align: center;
}

.about-us-tittle{
    font-size: 55px;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
}
.about-us-info{
    font-size: 16px;
    margin-top: 0;
    width: 600px;
    color: #727272;
}

.many-logos, .logo {
    display: flex;
    margin-right: 15%;
}
.logo{
    margin-left: 100px;
}
.icon img{
    margin-left: 100px;
    width: 100px;
    margin-top: 40px;
}
